* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    
    font-family: 'Roboto', sans-serif;
    color: #262626;
    font-weight: 400;
    font-size: 14px;
}

.home .logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 234px;
    margin-bottom: 260px;   
}

.home button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: transparent;
    cursor: pointer;
}

.flashcards .logo-mini img{
    margin: 26px auto auto 26px;
}

.flashcards .card{
    display: block;
    position: relative;
    margin: 7em auto auto auto;

    width: 392px;
    height: 575.75px;

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}

.flashcards .card.justLearn{
    border: 5px solid #000000;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
}

.flashcards .card.dontRemember{
    border: 5px solid #F64848;
    box-shadow: 0px 8px 24px rgba(246, 72, 72, 0.12);
}

.flashcards .card.almostForgot{
    border: 5px solid #62DB38;
    box-shadow: 0px 8px 24px rgba(98, 219, 56, 0.12);
}

.flashcards .card.zap{
    border: 5px solid #FFEF61;
    box-shadow: 0px 8px 24px rgba(255, 239, 97, 0.12);
}

.flashcards .card img{
    position: absolute;
    bottom: 19.77px;
    left: 330px;
    right: 16.59px;
}

.flashcards .card .currentPosition{
    display: flex;
    justify-content: right;
    margin-right: 12px;
    padding-top: 13px;

    font-size: 18px;
}

.flashcards .card .title{
    display:flex;
    justify-content: center;
    margin-top: 267px;

    font-size: 28px;
    font-weight: bold;
}

.flashcards .card .answer{
    display:flex;
    justify-content: center;
    margin-top: 267px;

    font-size: 16px;
}

.flashcards .card .titleAnswer{
    display: flex;
    justify-content: center;

    font-size: 12px;
}

.flashcards .card .answer{
    display:flex;
    justify-content: center;
    margin-top: 267px;

    font-size: 16px;
}

.flashcards .card img{
    cursor: pointer;
}

.flashcards .card .buttonsFlashCard{
    display: flex;
    justify-content: space-around;

    margin: 167px 41px 19px 41px;
    gap: 16.67px;
}

.flashcards .card .buttonsFlashCard button:nth-child(1){
    border: 3px solid black;
    border-radius: 12px;
    font-size: 10px;

    width: 65px;
    height: 48px;
}

.flashcards .card .buttonsFlashCard button:nth-child(2){
    border: 3px solid #F74848;
    border-radius: 12px;
    font-size: 10px;

    width: 65px;
    height: 48px;
}

.flashcards .card .buttonsFlashCard button:nth-child(3){
    border: 3px solid #62DB38;
    border-radius: 12px;
    font-size: 10px;

    width: 65px;
    height: 48px;
}

.flashcards .card .buttonsFlashCard button:nth-child(4){
    border: 3px solid #FFEF61;
    border-radius: 12px;
    font-size: 10px;

    width: 65px;
    height: 48px;
}

.flashcards .success{
    text-align: center;

    margin-top: 350px;
}

.flashcards .success h1{
    font-weight: bold;
    font-size: 36px;

    padding-bottom: 16px;
}

.flashcards .success h2{
    font-size: 22px;

    padding-bottom: 16px;
}

.flashcards .failure{
    text-align: center;

    margin-top: 350px;
}

.flashcards .failure h1{    
    font-weight: bold;
    font-size: 36px;

    padding-bottom: 16px;
}

.flashcards .failure h2{
    font-size: 22px;
    
}